@use "../variables";


.contenedorSkills{
    width: 68%;
    margin: auto;
    padding: 50px 20px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 250px;
        height: 180PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 80px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -30px;
                right: -5px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 60px;
                height: 60px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 20px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}






/****************************/



@media (min-width:1025px) and (max-width:1440px){

.contenedorSkills{
    width:78%;
    margin: auto;
    padding: 50px 20px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 240px;
        height: 180PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 80px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -30px;
                right: -5px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 60px;
                height: 60px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 20px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}


}











/****************************/



@media (min-width:900px) and (max-width:1024px){

.contenedorSkills{
    width:82%;
    margin: auto;
    padding: 50px 20px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 198px;
        height: 180PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 80px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -30px;
                right: -5px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 60px;
                height: 60px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 20px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}


}









/****************************/



@media (min-width:770px) and (max-width:899px){

.contenedorSkills{
    width:70%;
    margin: auto;
    padding: 50px 20px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 198px;
        height: 180PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 80px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -30px;
                right: -5px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 60px;
                height: 60px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 20px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}


}







/****************************/



@media (min-width:641px) and (max-width:769px){

.contenedorSkills{
    width:85%;
    margin: auto;
    padding: 50px 20px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 198px;
        height: 180PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 80px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -30px;
                right: -5px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 60px;
                height: 60px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 20px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}


}




/****************************/



@media (min-width:481px) and (max-width:640px){

.contenedorSkills{
    width:90%;
    margin: auto;
    padding: 50px 10px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 180px;
        height: 180PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 80px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -30px;
                right: -5px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 60px;
                height: 60px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 20px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}


}







/****************************/



@media (min-width:360px) and (max-width:480px){

.contenedorSkills{
    width:100%;
    margin: auto;
    padding: 50px 10px;
    background:variables.$colorNegro;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    .contenedorSkills_box{
        width: 150px;
        height: 170PX;
        padding:20px 5px;
        margin-bottom: 30px;
        background:variables.$color_n_azulMarino;
        border-radius: 20px 0px 20px 0px;
        box-shadow: 5px 5px 2px variables.$color_n_white;
        overflow: hidden;
        transform: skew(-3deg);
        position: relative;
        .box_numero{
            display: flex;
            justify-content:center;
            align-items: center;
            margin: auto;
            font-size: 38px;
            font-weight: 700;
            color:variables.$color_n_green;
           

        }

        .spanNumero{
                font-size: 50px;
                font-weight: 700;  
                color:variables.$color_n_green;
                position: absolute;
                top: -10px;
                right: 0px;
        }

        .box_cajaBase{
            margin-top: -10px;
            padding: 5px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .cajaBaseImage{
                width: 50px;
                height: 50px;
                .iconsTech{
                    font-size: 46px;
                    color: variables.$color_n_green;
                }
            }

            .cajaLegenda{
                padding: 5px;
                font-size: 18px;
                color:variables.$color_n_white;
                font-weight: 500;

            }
        }
    }
}


}